body {
    font-family: "Montserrat", sans-serif;
    background: #EBEBFF;
}

header {
    max-width: 1120px;
    width: 100%;
    margin: 10px auto 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
}

header .container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}

.header_text {
    display: flex;
    flex-direction: column;
}

.header_text h1 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.header_text h1 span {
    font-family: 'Montserrat';
    background: -webkit-linear-gradient(105deg, #5D5FEF 27.82%, #EE5D8A 74.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.header_text h2 {
    color: #000;
    font-size: 10px;
    font-weight: 600;
}

main .wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.main__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: 18px auto 20px auto;
    text-align: center;
}

.main__header h3 {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main__header h3 span {
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.main__box {
    display: flex;
    flex-wrap: wrap;
    gap: 29px 26px;
    width: 100%;
}

.main__card {
    width: 260px;
    height: 240px;
    background: #FFF;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.main__card-maney {
    height: 30px;
    background: url(../img/maney.svg), #5D5FEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}

.main__card-logo {
    height: 103px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__card-logo img {
    object-fit: contain;
}

.main__card>a {
    width: calc(100% - 40px);
    margin: 27px auto 0 auto;
    height: 50px;
    border-radius: 15px;
    background: #A65DEF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: none;
    text-decoration: none;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
}

.main__card>a span {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}


.main__card>a:before {
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: animate 2s infinite linear;
    background-image: conic-gradient(#EF5D89, #EF5D89, #EF5D89, #EF5D89, #A65DEF, #A65DEF, #A65DEF);
    filter: blur(20px);
}

.main__card>a::after {
    position: absolute;
    content: "";
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    border-radius: 5px;
}

@keyframes animate {
    100% {
        transform: rotate(360deg);
    }
}



.main__card>a:hover {
    background: #5D5FEF;
}

.main__card>a:hover::before {
    content: none;
}

.main__card>a:hover span {
    color: #FF6895;
    transition: all 0.5s;
}

.main__card>a:hover span::before {
    filter: brightness(0) saturate(100%) invert(66%) sepia(43%) saturate(4270%) hue-rotate(305deg) brightness(100%) contrast(102%);
}

.main__card>a:active {
    transition: all 0.5s;
    background: linear-gradient(131deg, #A65DEF 26.76%, #EF5D89 86.57%);
    color: #FFF;
    transform: translateY(20px);
}

.main__card-logo>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__card>a:active span {
    color: #FFF;
}

.main__card>a:active span::before {
    filter: none;
}




.main__card a span::before {
    content: "";
    background: url(../img/btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 19px;
    display: flex;
}

.main__link {
    margin: 43px auto 50px auto;
    width: 240px;
    height: 50px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    color: #D05DB4;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

footer {
    border-radius: 10px 10px 0 0;
    background: #FFF;
    padding: 45px 0 100px 0;
}

footer .wrapper {
    max-width: 1119px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer__top-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__line {
    width: 100%;
}

.footer__line img {
    object-fit: contain;
}

.footer__top-logo .header_text h2 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer__top-logo .header_text h2 span {
    font-family: 'Montserrat';
    background: -webkit-linear-gradient(105deg, #5D5FEF 27.82%, #EE5D8A 74.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__top-logo .header_text h3 {
    color: #000;
    font-size: 10px;
    font-weight: 600;
}

.footer__main-left {
    max-width: 360px;
    width: 100%;
    margin-right: 343px;
}

.footer__main {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    padding: 0 9px;
}

.footer__main-left>p {
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 104.9%;
    margin-bottom: 9px;
}

.footer__main-left form {
    display: flex;
    margin-bottom: 13px;
    flex-direction: column;
}
.tel__label {
    display: flex;
    align-items: center;
    height: 100%;
    width: 190px;
    border: 1px solid #000;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    color: #000;
    height: 32px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.tel__label label {
    height: 15px;
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}
.footer__main-left form #tel {
   border: none;
   color: #000;
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-weight: 400;
   padding: 0;
   display: flex;
   align-items: center;
}

input::placeholder {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.footer__main-left form .submit {
    width: 35px;
    height: 34px;
    background: url(../img/arrow.svg), linear-gradient(131deg, #A65DEF 26.76%, #EF5D89 86.57%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    border-radius: 0 5px 5px 0;
}

.footer__registration {
    display: inline-block;
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 34px;
    line-height: 125%;
}

.footer__registration a {
    color: #000;
    font-family: "Mulish", sans-serif;
    border: none;
    font-size: 10px;
    font-weight: 400;
    line-height: 125%;
    text-decoration-line: underline;
    background: none;
}

.footer__notNumber {
    display: flex;
    flex-direction: column;
    color: #AFAFAF;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 104.9%;
}

.footer__notNumber a {
    color: #AFAFAF;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 104.9%;
    text-decoration-line: underline;
}

.footer__main-right p {
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 18px;
}

.footer__main-right-box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer__main-right-box a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
}

.footer__main-right-box a span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBEBFF;
    border-radius: 50%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
}

.privecy .modal-content {
    width: 838px;
    height: 459px;
    border-radius: 20px;
    background: #FFF;
    position: relative;
    padding: 38px 35px 38px 65px;
    box-sizing: border-box;
    overflow: hidden;
}

.privecy .modal-content .modal-close2 {
    background: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 27px;
}

.privecy .modal-content {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.privecy__scroll {
    height: 94%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 56px;
}


::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #D9D9D9;
}

.privecy h2 {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

#blockPhone .modal-content {
    width: 838px;
    height: 459px;
    border-radius: 20px;
    background: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#blockPhone .modal-content .modal-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 27px;
}

.modal__wrapper {
    max-width: 300px;
}

#blockPhone .modal-content h2 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

#blockPhone .modal-content p {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
}

.blockPhone__label {
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    padding-left: 27px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.blockPhone__label input  {
    border: none;
}

#blockPhone .modal-content form #tel2 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.recaptcha {
    margin-bottom: 16px;
}

.blockPhone-btn {
    width: calc(100% - 40px);
    margin: 27px auto 0 auto;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(131deg, #A65DEF 26.76%, #EF5D89 86.57%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: none;
}


.blockPhone-btn input {
    background: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
}

.container__flex {
    display: none;
}

.mobile {
    display: none;
}

.footer__main-form {
    display: flex;
    margin-bottom: 16px;
}

.footer__main-left form .recaptcha {
    height: 55px;
    width: 245px;
}

.footer__main-left form .recaptcha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1279px) {
    header {
        max-width: 690px;
        height: 60px;
    }

    main .wrapper {
        max-width: 539px;
    }

    .main__box {
        gap: 19px 19px;
    }

    footer {
        border-radius: 0;
    }

    footer .wrapper {
        max-width: 670px;
    }

    .footer__line {
        display: flex;
        justify-content: center;
    }

    .footer__line img {
        object-fit: contain;
        max-width: 382px;
    }

    .footer__main-left {
        margin-right: 0;
    }

    .footer__main {
        padding: 0;
        justify-content: space-between;
    }

    .main__header {
        margin-bottom: 31px;
    }

    .main__link {
        margin-bottom: 43px;
    }

    footer {
        padding-top: 35px;
    }

    .footer__main {
        margin-top: 56px;
    }

    .footer__main-left>p {
        margin-bottom: 15px;
    }

    .footer__main-left form {
        margin-bottom: 18px;
    }

    #blockPhone .modal-content {
        width: 300px;
        height: 380px;
        border-radius: 20px;
        background: #FFF;
        padding: 53px 0 40px 0;
    }

    #privecy .modal-content {
        width: 300px;
        height: 380px;
        border-radius: 20px;
        background: #FFF;
        padding: 31px 22px 21px 30px;
    }

    .privecy__scroll {
        padding-right: 13px;
        height: 83%;
    }

    .privecy .modal-content .modal-close2 {
        right: 14px;
    }

    #blockPhone .modal-content .modal__wrapper h2 {
        padding: 0 40px;
    }

    #blockPhone .modal-content .modal__wrapper p {
        padding: 0 40px;
    }

    .blockPhone__label {
        width: calc(100% - 80px);
        margin: 0 auto 20px auto;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .container__flex {
        padding: 0 40px;
    }

    #blockPhone .modal-content .modal-close {
        right: 14px;
    }
    .blockPhone__label label {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #blockPhone .modal-content form #tel2{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
    }
    .blockPhone__label label input::placeholder{
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media(max-width: 767px) {
    header {
        max-width: 382px;
    }

    main .wrapper {
        max-width: 382px;
    }

    .main__card {
        width: 170px;
        height: 170px;
    }

    .main__header img {
        max-width: 100%;
    }

    .main__box {
        max-width: 350px;
        margin: 0 auto;
        gap: 20px 10px;
    }

    .main__header {
        margin-bottom: 12px;
    }

    .main__card-maney {
        min-height: 30px;
    }

    .main__card-logo {
        height: 67.382px;
    }

    .main__card>a {
        width: calc(100% - 20px);
        margin-top: 12px;
        border-radius: 10px;
        height: 40px;
    }

    .main__card>a span {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
    }

    .main__link {
        margin: 39px auto 62px auto;
    }

    footer {
        padding-top: 45px;
    }

    .footer__main {
        flex-direction: column-reverse;
        padding: 0 32px 0 20px;
        margin-top: 35px;
        gap: 32px;
    }

    .footer__main-right-box {
        gap: 54px;
    }

    .main__card-logo img {
        height: 30%;
    }
}

@media(max-width: 411px) {
    header {
        max-width: 280px;
    }

    main .wrapper {
        max-width: 280px;
    }

    .main__header {
        max-width: 100%;
    }

    .main__card {
        width: 130px;
        height: 140px;
    }

    .main__card>a {
        margin-top: 8px;
    }

    .main__card-logo {
        height: 51px;
    }

    .main__card-maney {
        background-size: auto;
    }

    .footer__line img {
        max-width: 279px;
        height: 6.91px;
    }

    .mobile {
        display: block;
    }

    .desctop {
        display: none;
    }

    footer .wrapper {
        max-width: 279px;
    }

    .footer__line img {
        max-width: 100%;
    }

    .main__header {
        margin-top: 20px;
    }

    .main__header {
        margin-bottom: 19px;
    }

    .main__box {
        gap: 20px 20px;
    }

    .main__link {
        margin: 30px auto 30px auto;
    }

    footer {
        padding-top: 37px;
    }

    .footer__main {
        padding: 0 25px 0 10px;
    }

    .footer__registration {
        margin-bottom: 18px;
    }

    .footer__notNumber {
        display: inline-block;
    }

    body {
        background: #EBEBFF;
    }
}